<h1>Listing copies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Book</th>
    <th>Publisher</th>
    <th>Place</th>
    <th>Page count</th>
    <th>Cover</th>
    <th>Price</th>
    <th>More information</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @copies.each do |copy| %>
  <tr>
    <td><%= copy.title %></td>
    <td><%= copy.book_id %></td>
    <td><%= copy.publisher %></td>
    <td><%= copy.place %></td>
    <td><%= copy.formatted_page_count %></td>
    <td><%= copy.cover %></td>
    <td><%= copy.price %></td>
    <td><%= copy.more_information %></td>
    <td><%= link_to 'Show', copy %></td>
    <td><%= link_to 'Edit', edit_copy_path(copy) %></td>
    <td><%= link_to 'Destroy', copy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Copy', new_copy_path %>
