<div class="row">
  <div class="span12">
    <h2>Enter the words you want to use to search.</h2>
    <p>(If you want to see a list of all books, leave this part blank. Then, choose a search option and click Search.)</p>
    <div class="search_container">
      <%= form_tag(search_path, class: 'form-search') do %>
        <%= text_area_tag :query, nil, class: "input-medium search-query span12", rows: '3' %>
        <h2>Choose one of these options.</h2>
        <ul class="search_filters">
        <% [:title, :author].each do |attr| %>
          <li>
            <%= radio_button_tag :filter, attr %>
            <%= label_tag "filter_#{attr}", "<span class='badge'>#{attr.capitalize}</span>".html_safe %>
          </li>
        <% end %>
        </ul>
        <br/>
        <p class="center"><%= submit_tag 'Search', class: 'btn span12' %></p>
      <% end %>
    </div>
  </div>
</div>

<script>

  $(function(){
    $('#query').focus();
    
    $('input[type="radio"]').on('click', function(){
      var radios = $('input[type="radio"]');
      $.each(radios, function(i, el){
        var checked = $(el).prop("checked");
        if (checked){
          $(el).siblings('label').children('span').addClass('badge-info');
        } else {
          $(el).siblings('label').children('span').removeClass('badge-info');
        }
      });
    });
    
  });

</script>