<%= form_for(@book, html: { class: 'form-horizontal' }) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% [:title, :subtitle, :call_number, :author, :illustrator, :series].each do |attr| %>
    <div class="control-group">
      <%= f.label attr, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field attr %>
      </div>
    </div>
  <% end %>
  <% [:subjects, :categories].each do |attr| %>
    <div class="control-group">
      <%= f.label attr, class: 'control-label' %>
      <div class="controls">
        <%= select_tag attr, options_from_collection_for_select([], :id, :name), multiple: true, include_blank: true, class: 'chosen-select', "data-placeholder" => "Add some #{attr}..." %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :book_type, class: 'control-label' %>
    <div class="controls">
      <%= f.select :book_type, options_for_select(@book_types) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :more_information, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :more_information, class: 'span6', rows: 4 %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit nil, class: 'btn btn-success' %>
      <%= link_to 'Cancel', :back, class: 'btn btn-warning' %>
    </div>
  </div>
<% end %>

<script>

  $(function(){
    
    $('#book_title').focus();
    
    var existing_tags = <%= @tags %>;
    
    $.getJSON('<%= tags_url %>', null, function(data){
      var subject_options = ""
          category_options = "";
      $.each(data, function(i, tag){
        if (tag.tag_type.toLowerCase() == '<%= Tag.subject_type %>'){
          var selected = existing_tags.indexOf(tag.id) != -1 ? "selected" : "";
          subject_options += "<option " + selected + " value=" + tag.id +">" + tag.name + "</option>";
        } else {
          var selected = existing_tags.indexOf(tag.id) != -1 ? "selected" : "";
          category_options += "<option " + selected + " value=" + tag.id +">" + tag.name + "</option>";
        }
      });
        
      $('#subjects').append(subject_options).chosen({width: "460px"});
      $("#categories").append(category_options).chosen({width: "460px"});
      
      $('#subjects').on('chosen:no_results', function(e){
      });
    });    
    
  });
  
</script>
