<h1>Listing books</h1>

<p><%= paginate @books %></p>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Call number</th>
    <th>Author</th>
    <th>Illustrator</th>
    <th>Series</th>
    <th>Book type</th>
    <th>Subjects</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.subtitle %></td>
    <td><%= book.call_number %></td>
    <td><%= book.author %></td>
    <td><%= book.illustrator %></td>
    <td><%= book.series %></td>
    <td><%= book.book_type %></td>
    <td><%= print_list(book.subjects) %></td>
    <td><%= link_to 'View', book %></td>
    <td>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_book_path(book) %>
      <% end %>
    </td>
    <td>
      <% if user_signed_in? %>
        <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<p><%= paginate @books %></p>

<br />
<% if user_signed_in? %>
  <%= link_to 'New Book', new_book_path %>
<% end %>
